{% extends "Home_CMN.html" %}

{% block carrusel %}
    <!-- Carrusell - Portada -->
    <div class="slider">
        <ul>
            <li>
                <img src="../static/Imágenes/portada.jpg" alt="">
            </li>
            <li>
                <img src="../static/Imágenes/general.png" alt="">
            </li>
            <li>
                <img src="../static/Imágenes/logo.png" alt="">
            </li>
            <li>
                <img src="../static/Imágenes/ubicacion.jpg" alt="">
            </li>
            <li>
                <img src="../static/Imágenes/credito.png" alt="">
            </li>
            <li>
                <img src="../static/Imágenes/moto.png" alt="">
            </li>
            <!-- <li>
                <img src="imágenes/soat.png" alt="">
            </li> -->
        </ul>
    </div>
    <!--Fin del carrusel-->
    {% endblock %}

