{% extends "Home_CMN.html" %}

<!--Donde comienza el contenido a agregar-->
{% block contenido %}
<body>
    <div class="container_question">
        <div>
            <h3>¿Qué es la revisión técnico mecánica?</h3>
            <p>La revisión técnico mecánica es un procedimiento que se realiza en un centro de diagnóstico automotor,
                para determina el estado de funcionamiento de los sistemas de seguridad integrados en los vehículos,
                teniendo como base los criterios de la NTC 5375, para posterior certificación del vehículo en caso de
                cumplir con los parámetros estipulados en dicha norma.</p>
        </div>
        <div>
            <h3>¿Qué vehículos realizan este trámite?</h3>
            <p>Todos los vehículos particulares, de servicio público y motocicletas que transiten por las calles y
                carreteras colombianas.
            </p>
        </div>

        <div>
            <h3>¿Para qué sirve la revisión técnico mecánica?</h3>
            <p> Para evaluar las condiciones mecánicas del vehículo en el que te transportas y de esta manera evitar
                posibles accidentes de tránsito por causa de fallas mecánicas que puedan presentarse. Con su uso
                periódico, el vehículo y sus partes presentan un desgaste normal y por eso es importante revisarlos,
                determinar su estado y corregir posibles fallas. Un conductor preventivo siempre está al tanto de su
                vehículo, por su seguridad y la de los demás.
            </p>
        </div>

        <div>
            <h3>¿Cada cuánto debo realizar la revisión técnico mecánica de un vehículo?</h3>
            <p>
                Cuando es particular a partir de la fecha de la matrícula de tu vehículo contados los primeros seis
                años, según el Decreto 019 del 2012 (Ley Anti trámites), después de cumplido este periodo de tiempo,
                debes renovar la revisión técnico mecánica anualmente. Para vehículos de servicio público y motos, debe
                realizarse este trámite por primera vez a los dos años de haber sido expedida la matrícula, y luego
                anualmente.
            </p>
        </div>

        <div>
            <h3>¿Qué pasa si no realizo a tiempo la RTM de mi vehículo?</h3>
            <p>
                Si una autoridad de tránsito verifica que no tienes la revisión técnico mecánica y de gases vigente,
                puedes incurrir en una multa de 15 salarios mínimos diarios legales vigentes y que esa misma autoridad
                ordene la inmovilización de vehículo.
            </p>
        </div>

        <div>
            <h3>¿Qué evalúan en la revisión técnico mecánica?</h3>
            <p>
                En este diagnóstico se evalúan las siguientes variables: carrocería, estado de los frenos, dirección,
                suspensión, sistema de las señales visuales y audibles, llantas y el conjunto de vidrios de seguridad
                además, se chequea si el automotor cumple con las normas de emisiones contaminantes que establecen las
                autoridades ambientales del país.
            </p>
        </div>

        <div>
            <h3>¿Cuál es el Mejor CDA?</h3>
            <p>
                El Mejor Centro de Diagnostico Automotor es aquel que cumple con las siguientes características:
                <br><br>

                Se encuentra acreditado por la ONAC para operar como organismo de inspección.
                En el directorio de Acreditación de la ONAC, búscanos como INVERSUVA (está es nuestra razón Social, CDA
                MOTOLISTA es nuestro establecimiento de comercio Directorio de Acreditación - Buscar por Nombre del
                Organismo o Razón Social.<br><br>

                Cuenta con Certificación Ambiental.
                CDA Motolista cuenta con Certificación Ambiental emitida por la Secretaria Ambiental de Bogotá, conoce
                la Resolución 00695 del 10 de abril de 2019 de la Secretaría Distrital de Ambiente.<br><br>

                Se encuentra habilitado por el Ministerio de Transporte.
                CDA Motolista está habilitado por MinTransporte, Conoce la Resolución No. 0002005 de 2019 del Ministerio
                de Transporte.<br><br>

                Encontrarse debidamente registrados en el RUNT.
                Búscanos como MOTOLISTA por nombre del actor dentro del Registro Único Nacional de Tránsito (CDA
                MOTOLISTA es nuestro establecimiento de comercio, nuestra razón Social es INVERSUVA SAS) Directorio de
                Actores del Registro Único Nacional de Tránsito – RUNT, buscar por nombre del actor.<br><br>

                Ser vigilados por la Superintendecia de Transporte.
                Al recibir la habilitación por parte del Minsiterio de Transporte, CDA Motolista es vigilado por la
                Superintendencia de Transporte.<br><br>

                En CDA MotoLista nos esmeramos por prestarte el mejor servicio, con una excelente atención. Contamos con
                personal altamente calificado y competente para el desarrollo de la RTM, nos apoyamos en equipos idóneos
                para nuestro trabajo, con lo que aportamos en la mejora de las condiciones del sistema de seguridad vial
                de nuestro país.<br><br>

            </p>
        </div>

        <div>
            <h3>¿Cuál es el costo de la RTMy EC?</h3>
            <p>
                El costo de la Revisión Técnico Mecánica y de Emisiones Contaminantes para tu moto depende del modelo de
                tu vehículo.<br><br>

                Las Tarifas de la RTM y EC de CDA MOTOLISTA para el año 2022 son las siguientes:<br><br>
                
                Tarifa RTM Motos Modelos 2020 a 2022:<br>
                $155,937.<br><br>

                Tarifa RTM Motos Modelos 2015 a 2019:<br>

                $156,237.<br><br>

                Tarifa RTM Motos Modelos 2006 a 2014:<br>

                $156,437.<br><br>

                Tarifa RTM Motos Modelos 2005 y anteriores:<br>
                $156,237.<br>
            </p>
        </div>
    </div>
</body>
{% endblock%}
