<!--Hereda de la plantilla Home-->
{% extends "Home_CMN.html" %}

<!--Donde comienza el contenido a agregar-->
{% block contenido %}
<div class="container_about-us">
    <div>
        <h3>Nosotros</h3>
        <p>
            En CDA MotoLista nos esmeramos por prestarte el mejor servicio, con una excelente atención. Contamos con
            personal altamente calificado y competente para el desarrollo de la RTM, nos apoyamos en equipos idóneos
            para nuestro trabajo, con lo que aportamos en la mejora de las condiciones del sistema de seguridad vial
            de nuestro país.
        </p>
    </div>

    <div>
        <h3>Misión</h3>
        <p>
            Realizar la inspección de motocicletas de forma integral, segura y oportuna, cumpliendo la normatividad
            legal vigente, de tal forma que esto contribuya a la seguridad de las personas, la prevención de
            accidentes y a reducir los índices de contaminación ambiental y auditiva.
        </p>
    </div>

    <div>
        <h3>Visión</h3>
        <p>
            Ser reconocido a nivel regional como un centro de diagnóstico automotor seguro y confiable en la
            presentación de servicios de inspección técnico y análisis de emisiones contaminantes, cumpliendo con el
            marco normativo legal aplicable.
        </p>
    </div>
</div>

<!--Donde finaliza contenido-->
{% endblock %}
