{% extends "Home_CMN.html" %}

{% block contenido %}
<body>
    <div class="container_soat">
        <div>
            <h3 align="center">Precios SOAT 2022</h3>
            <p>
                Cilindraje: Ciclomotores: $200.200 <br><br>

                Cilindraje: Menos 100 C.C.: $414.800 <br><br>

                Cilindraje: De 100 C.C. a 200 C.C.: $556.500 <br><br>

                Cilindraje: Más de 200 C.C.: $627.600 <br><br>

                Cilindraje: Motocarro, Tricimoto, Cuadriciclos: $627.600 <br><br>

            </p>
        </div>
    </div>
    <img id="foto_soat" src="imágenes/soat.png" alt="">
</body>
{% endblock %}
